body {
  background-color: #5c48d2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

p{
  line-height: 30px;
}

h2{
  font-size: 30px;
  font-weight: bold;
  color: #190f33;
  margin-bottom: 80px;
}

h3{
  font-size: 26px;
  font-weight: bold;
  color: #190f33;
  margin-bottom: 40px;
}

h4{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header_title{
  color: #ffff;
  font-size: 48px;
  text-align: center;
  line-height: 200px;
}

.main-block{
  width: 1024px;
  background-color: #ffff;
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;   /*permets d'afficher le bord arrondi inférieur du block main en empêchant le contenu de dépasser du block*/
}

.navigation{
  display: flex;
  height: 100px;
}

.nav-link{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #190f33;
  text-decoration: none;
  line-height: 100px; /*place au centre l'élément enfant <a> dans l'élément parent à mi-hauteur sans préciser height*/
}

.nav-link:hover{
  color: #5c48d2;
}

.image-prinipale{
  height: 400px;
  width: 1024px;
  object-fit: cover;
}

section{
  padding: 100px;
}

.about-section{
  background-color: #ffff;
}

.about-class{
  display: flex;
  justify-content:center;
  align-items: center; 
}

.image-dog{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 2px solid #fcc01a;
  margin-right: 80px;
  margin-bottom: 100px;
  object-fit: cover;
}

.johndog{
  font-size: 38px;
  font-weight: bold;
  color: #190f33;
  margin-bottom: 50px;
  text-align: center;
  /* margin-top: 100px; */
}

.ville{
  font-style: italic;
  font-size: 30px;
  color: #190f33;
  text-align: center;
}

.lorem-about{
  text-align: justify;
  margin: 0 100px;
  /* padding-bottom: 100px; */
}

.title-about{
  /* margin-top: 100px; */
  margin-left: 100px;
}

.formation{
  background-color: #eeeef7;
}

.title-formation{
  text-align: center;
  /* padding-top: 100px; */
}

.textformation{
  text-align: center;
}

.langages{
  display: flex;
  justify-content: space-around;  
  /* margin: 80px 100px; */
  margin-top: 100px;
  margin-bottom: 100px;
}

.logo-formation{
  height: 100px;
}

.textformation2{
  text-align: center;
}

.libelleformation{
  font-weight: bold;
}

.langagesJS{
  display: flex;
  justify-content: space-around;  
  /* margin: 80px 100px; */
  margin-top: 100px;
  /* margin-bottom: 100px; */
}

.projets{
  background-color: #ffff;
}

.title-projets{
  text-align: center;
  /* padding-top: 100px; */
}

.textprojets{
  text-align: center;
  /* padding-bottom: 50px; */
}

.projets img{
  width: 500px;
  margin-right: 60px;
}

.projets li{
  line-height: 30px;
  list-style-type: disc;  /*puces sur la liste*/
}

/* .projet{
  border: 1px solid black;
  padding-bottom: 20px;
} */

.divprojet{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 100px 50px 150px 0; */
  margin-top: 100px;
  margin-bottom: 150px;
}

.divprojet img{
  width: 500px;
  margin-right: 60px;
}

.contact{
  background-color: #eeeef7;
}

.contact h2{
  text-align: center;
}

.divcontact{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.divcontact a{
  text-decoration: none;
}

.contact img{
  height: 30px;
  margin-right: 20px;
}

.contact img:hoover{
  color: #5c48d2;
}

.linkcontact{
  display: flex;

  align-items: center;
  margin-bottom: 45px;
}

footer{
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer p{
  color: #c4c4c4;
  line-height: 40px;
}

footer a{
  color: #fcc01a;
  line-height: 40px;
}

footer a:hoover{
  color: #190f33;
}



